* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button:hover {
  opacity: 0.5;
}

body {
  overflow: hidden;
}

.headerContainer {
  height: 100vh;
  width: 100%;
  background-color: #00adb5;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  height: 33px;
  width: 100%;
  /*background-color: #696969;*/
  background-color: black;
  padding: 0.5%;

  position: relative;
}

.logo {
  background-color: black;
  float: left;
  width: 200px;
  height: 30px;
  color: #00adb5;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.navlinks {
  float: right;
  position: absolute;
  width: 40%;
  height: 30px;
  right: 1.5%;
  padding-right: 2%;

  /*#333;*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  background-color: black;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  font-size: 20px;
  text-decoration: none;
}

li a:hover {
  color: #00adb5;
}

.innerContainer {
  width: auto;
  height: 100%;
  /*#696969*/
  background-color: darkgray;
  margin: 3px;
  padding: 0.5%;
}

.leftContainer {
  display: flex;
  width: 70%;
  height: 100%;
  background-color: white;
  float: left;
  position: relative;
}

.leftContainer .popup {
  width: 100px;
  height: 25px;
  position: absolute;
  top: 2%;
  right: 1%;
  cursor: pointer;
  text-align: center;
  z-index: 10;
  line-height: 25px;
  background-color: white;
  border: 1px solid black;
}

/* The actual popup */
.popuptext,
.pointsPopup {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 100;
}

.xAxis {
  position: absolute;
  visibility: hidden;
  width: 50px;
  height: 20px;
  background-color: red;
  text-align: center;
  z-index: 100;
  bottom: 1%;
  left: 0.5%;
}

.popuptext {
  top: 1%;
  right: 13%;
}

.pointsPopup {
  right: 1%;
  bottom: 1%;
  opacity: 0.7;
}

.show {
  visibility: visible;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.leftContainer .stageDimensions {
  z-index: 10;
  width: 150px;
  height: 40px;
  background-color: lightgray;
  position: absolute;
  left: 1%;
  top: 2%;
  padding: 1%;
  visibility: hidden;
}

.backgroundCanvas,
.topCanvas,
.pointsCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.backgroundCanvas {
  background-color: white;
  z-index: 1;
}
.topCanvas {
  z-index: 5;
  visibility: visible;
}
.pointsCanvas {
  visibility: hidden;
  z-index: 10;
}

.rightContainer {
  width: 30%;
  height: 100%;
  background-color: lightgray;
  float: right;
  display: flex;
  flex-direction: column;
  z-index: 11;
}

.inputArea {
  width: auto;
  height: auto;
  margin: 1%;
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.innerTop {
  display: flex;
}
.formDiv {
  width: 70%;
  float: left;
}
.gridIntervals {
  width: 30%;
  float: right;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.gridIntervals h5 {
  margin: 1%;
}
.gridIntervals select {
  width: 60px;
  text-align: center;
  height: 25px;
  border: 3px solid gray;
}
form label {
  display: flex;
  padding: 1%;
  width: 100%;
}
.inputArea label {
  font-size: 20px;
}

.measurements {
  width: 100%;
  background-color: gray;
  display: flex;
  flex-direction: row;
  padding: 1%;
  overflow: hidden;
  position: relative;
}

.inputArea input[type="text"] {
  height: 30px;
  width: 70%;
  padding: 5px 20px;
  box-sizing: border-box;
  border: none;
  background-color: lightgray;
  color: black;
  text-align: center;
  font-size: 18px;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.inputArea .inches {
  height: 30px;
  width: 28%;
  float: right;
}

.field__helper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  color: black;
  font-size: 18px;
}

.inputArea h5 {
  padding: 3% 0 0 0;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  background-color: white;
  height: 25px;
  display: flex;
}

.sldr {
  -webkit-appearance: none;
  margin-top: 5px;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.sldr::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slidecontainer .sliderOutput {
  text-align: center;
  line-height: 25px;
  width: 20%;
  height: 25px;
  float: right;
  color: black;
}

.toggleAndButtons {
  width: auto;
  height: auto;
  background-color: lightgray;
  border: solid 3px gray;
  padding: 2% 1% 2% 2%;
  justify-content: center;
  display: flex;
}
/*toggle button stuff*/
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #696969;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*to make the innner box move left and right*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: darkgrey;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkgrey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.toggleAndButtons button {
  width: 35%;
  height: 34px;
  padding: 1%;
  border-style: none;
  border: none;
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
}
/* end toggle button stuff*/
.ouputContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 53%;
  margin: 1%;
  background-color: white;
  padding: 1%;
}

.xAndYCoordinates {
  width: auto;
  height: 50%;
  background-color: lightgray;
  margin: 0.5%;
  color: black;
  font-size: 18px;
  padding: 1%;
  text-align: justify;
  overflow-y: auto;
}
.controls {
  width: auto;
  height: 50%;
  background-color: lightgray;
  margin: 0.5%;
  display: flex;
  flex-direction: row;
}

.buttonInnerContainer {
  width: 100%;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}
.controls button {
  width: auto;
  height: 50%;
  margin: 1%;
  border-style: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  opacity: 0.8;
}

input[type="file"] {
  width: 100%;
}
/*
@media screen and (max-width: 1000px){
  
}
*/
